---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>About Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </nav>
    <hgroup>
        <h1>Who am I?</h1>
        <h2>I'm Magdalena</h2>
        <h3>I code at work and in my free time.</h3>
    </hgroup>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit asperiores laborum eligendi expedita adipisci dicta saepe numquam earum, obcaecati velit culpa ipsam maxime et sunt soluta quibusdam facere commodi! Inventore.</p>
 


    
</body>
</html>