---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Blog Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </nav>
    <section>
        <h1>Blog Post</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat harum laboriosam quod voluptates, ab tempora saepe soluta fugit magni, autem distinctio, corrupti dicta maiores esse incidunt dolor. Iste, excepturi maxime?
            
        </p>
    </section>
</body>
</html>